body {
    background-color: rgb(223, 241, 241);
    background-image: url("../images/plante_fond.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px 0em 0;
}
h1 { 
    color: darkolivegreen; 
    text-align: center;
    text-shadow: white 20px 1 40px;
    padding-top: 15px;
    text-decoration:underline;
}
h2 {
    color: darkolivegreen;
    text-align: center;
    text-shadow: white 20px 1 40px;
    background: linear-gradient(green,lime);
}
h3 {
    color: darkolivegreen;
    text-align: center;
    text-shadow: white 20px 1 40px;
    background: radial-gradient(at top, green,white);  

}
h4 {
    color: darkolivegreen;
    background-color: darkseagreen;
    text-align: center;
    text-shadow: white 20px 1 40px;
    margin: 20px 0px 0em 0;
    padding-left: 0em;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-image:linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size:5px 5px;
}
footer {
    text-align: right;
}
article {
    background-color: rgba(255, 255, 255, 0.70);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: darkolivegreen;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}
    img {width: auto 35px;
        height: 200px;
    }


h1 {
    background-image: url("../images/main.gif");
    height: 79px;
}
section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

nav {
    font-weight: bold;
    font-size: 16px;
    color: darkolivegreen;

}

nav>ul>li>a {
    text-decoration: none;
    color: darkolivegreen;
}

.fleche_haut {
    width: 60px;
    height: 60px;
}

a:visited{
    color: darkorchid;
}
a:hover{
    color: lime;
}

tr:nth-child(odd) td:nth-child(2n+2) {
    background-color: paleturquoise
}

tr:nth-child(odd) th:nth-child(1) {
    background-color: bisque
}

tr:nth-child(odd) td:nth-child(3) {
    background-color: papayawhip;
}
tr:nth-child(even) td:nth-child(2n+2) {
    background-color:papayawhip ;
}
tr:nth-child(even) th:nth-child(1) {
    background-color: cadetblue;
}
tr:nth-child(even) td:nth-child(3) {
    background-color: paleturquoise;
}
table{
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-collapse:collapse;
}

tr td{
    border:blue 2px solid
}

th{
    border: blue 2px solid
}

section>article>ul>li:nth-of-type(even) {
    color:darkblue;
}
section>article>p:first-of-type::first-letter {
    color: darkolivegreen;
    font: 20px bold;

}
nav>ul {
     padding: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px ;
     width: 100%;
     

}
nav>ul>li {
    list-style: none;
    border-style: solid ;
    border-color: green;
    border-width: 1px;
    padding: 0px;
    background-color: cornsilk;
    display: inline-block;
    box-sizing:border-box;
    width: 25%;
}
nav>ul>li>a{
    display: block;
    padding: 5px;
}
